* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
  --content-width: 800px;
  --top-bar-height: 6rem;
}

:root {
  --primary-color: #0C073A;
  --secondary-color: #F3F3F3;
  --secondary-lite: #F7F7F7;
  --primary-font: #262626;
  --secondary-font: gray;
  --accent-color: red;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

#app {
  font-family: 'Merriweather', serif;
}
